{
    "weatherAPIKey" : "GetYoutWeatherAPIkey_from_http://api.weatherapi.com",
    "OPENAI_API_KEY" : "Your_openai_API_key from https://platform.openai.com/account/api-keys"
    "GOOGLE_API_KEY" : "Your Google API Key from https://console.cloud.google.com/apis/credentials",
    "GOOGLE_SEARCH_ENGINE_ID" : "Google Search Engine ID From https://programmablesearchengine.google.com"
}